@font-face {
    font-family: Work Sans;
    src:  url(../fonts/WorkSans-Regular.ttf) format('truetype');
}

:root {
 --White: hsl(0, 0%, 100%)
 --light-pink: hsl(275, 100%, 97%)
 --Grayish purple: hsl(292, 16%, 49%)
 --Dark purple: hsl(292, 42%, 14%)
}

body {
    font-family: 'Work Sans', sans-serif;
}

p {
    font-size: 16px;
}
